
## ## /public_html/wp-admin/.htaccess ## ##

## PASSWORD PROTECT WP-ADMIN FOLDER ##

## UNCOMMENT IF PAGE DON'T REDIRECT PROPERLY (PAGE NOT FOUND) ##
# ErrorDocument 401 "Denied" 
# ErrorDocument 403 "Denied" 
## END UNCOMMENT IF PAGE DON'T REDIRECT PROPERLY (PAGE NOT FOUND) ##

## UNCOMMENT TO ALLOW PLUGIN ACCESS TO admin-ajax.php ## 
#<Files admin-ajax.php>
#    Order allow,deny
#    Allow from all
#    Satisfy any
#</Files>
## END UNCOMMENT TO ALLOW PLUGIN ACCESS TO admin-ajax.php ## 

AuthType Basic 
AuthName "can u dig it"
## Don't forget to change your path ##
AuthUserFile "/home/.htpasswds/"
## Use only one, valid user or exact user name ##
require valid-user 
# require user myusername

## END PASSWORD PROTECT WP-ADMIN FOLDER ##

## ALLOW ONLY SPECIFIED IP ADDRESSES (Change IP to your provider range) ##
Order Deny,Allow
Deny from all
# Allow from 141.0.0.0/8
Allow from 141.136.0.0/16
Allow from 141.138.0.0/16
Allow from 89.164.0.0/16
Allow from 213.202.69.0/24
## END ALLOW ONLY SPECIFIED IP ADDRESSES ##





## ## /public_html/wp-content/uploads/.htaccess ## ##

## DISABLE PHP EXECUTION ##
<Files ~ "\.ph(?:p[345]?|t|tml)$">
   deny from all
</Files>
## END DISABLE PHP EXECUTION ##




## ## /public_html/.htaccess ## ##


## DISABLE DIRECTORY BROWSING ##
Options All -Indexes
## END DISABLE DIRECTORY BROWSING ##


## SPECIFY CHARSET EARLY TO BENEFIT SPEED - REMOVE IT FROM WEBSITE HEADER ##
AddDefaultCharset UTF-8
## END SPECIFY CHARSET EARLY TO BENEFIT SPEED ##


## PASSWORD PROTECT wp-login.php ##

## UNCOMMENT IF PAGE DON'T REDIRECT PROPERLY (PAGE NOT FOUND) ##
# ErrorDocument 401 "Denied" 
# ErrorDocument 403 "Denied" 
## END UNCOMMENT IF PAGE DON'T REDIRECT PROPERLY (PAGE NOT FOUND) ##

<FilesMatch "wp-login.php">
AuthType Basic
AuthName "can u dig it"

## Don't forget to change your path to auth user file ##
AuthUserFile "/home/path/to/.htpasswds"

## Use valid user or exact user name ##
require valid-user 
# require user myusername
</FilesMatch>

## END PASSWORD PROTECT wp-login.php ##


## PROTECT wp-config.php | BLOCK xmlrpc.php REQUESTS ##
<FilesMatch "^(wp-config|xmlrpc)\.php$">
order allow,deny
deny from all
</FilesMatch>
## END PROTECT wp-config.php | BLOCK xmlrpc.php REQUESTS ##


## Deny Access to No Referrer Requests - Stop spam attack logins and comments ##
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_METHOD} POST
RewriteCond %{REQUEST_URI} .*/(wp-comments-post|wp-login)\.php.*
## Change example.com to your domain ## 
RewriteCond %{HTTP_REFERER} !.*example.com.* [OR]
RewriteCond %{HTTP_USER_AGENT} ^$
RewriteRule (.*) http://%{REMOTE_ADDR}/$1 [R=301,L]
</ifModule>
## END Deny Access to No Referrer Requests - Stop spam attack logins and comments ##

## BLOCK THE INCLUDE ONLY FILES ##
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^wp-admin/includes/ - [F,L]
RewriteRule !^wp-includes/ - [S=3]
RewriteRule ^wp-includes/[^/]+\.php$ - [F,L]
RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [F,L]
RewriteRule ^wp-includes/theme-compat/ - [F,L]
</IfModule>
## END BLOCK THE INCLUDE ONLY FILES ##





## EXPIRES CACHING ##
<IfModule mod_expires.c>
ExpiresActive On
ExpiresByType image/jpg "access plus 1 year"
ExpiresByType image/jpeg "access plus 1 year"
ExpiresByType image/gif "access plus 1 year"
ExpiresByType image/png "access plus 1 year"
ExpiresByType text/css "access plus 1 month"
ExpiresByType application/pdf "access plus 1 month"
ExpiresByType text/x-javascript "access plus 1 month"
ExpiresByType application/x-shockwave-flash "access plus 1 month"
ExpiresByType image/x-icon "access plus 1 year"
ExpiresDefault "access plus 2 days"
</IfModule>
## END EXPIRES CACHING ##


## COMPRESS HTML, CSS, JAVASCRIPT, TEXT, XML AND FONTS ##
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/vnd.ms-fontobject
AddOutputFilterByType DEFLATE application/x-font
AddOutputFilterByType DEFLATE application/x-font-opentype
AddOutputFilterByType DEFLATE application/x-font-otf
AddOutputFilterByType DEFLATE application/x-font-truetype
AddOutputFilterByType DEFLATE application/x-font-ttf
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE font/opentype
AddOutputFilterByType DEFLATE font/otf
AddOutputFilterByType DEFLATE font/ttf
AddOutputFilterByType DEFLATE image/svg+xml
AddOutputFilterByType DEFLATE image/x-icon
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/javascript
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/xml
## Remove browser bugs (only needed for really old browsers) ##
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
Header append Vary User-Agent
## Remove browser bugs (only needed for really old browsers) ##
</IfModule>
## END COMPRESS HTML, CSS, JAVASCRIPT, TEXT, XML AND FONTS ##


# Add https redirect - dont forget to change url to https at wp settings
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>
#End https redirect

